@import './reset.css';
@import './common.css';

/* 페이지가 변해도 따라오는것[헤더,푸터,큰틀] */

header{
    position: relative;
}
.topAd-group .topAd-area{
    background: #000;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.topAd-group .topAd-area i {
    font-weight: bold;
    font-size: 17px;
    margin-left: 7px;
}
.topAd-group .topAd-area strong{
    font-weight: bold;
}

.topAd-group .topAd-area img{
    width: 18px;
    height: 18px;
    margin-left: 7px;
}

.header-group{
    position: absolute;
    left: 0;
    top: 35px;
    height: 55px;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.header-group .menu-area{
    display: flex;
    gap: 15px;
    align-items: center;
}
.header-group .my-area{
    display: flex;
    gap: 15px;
}
.header-group .ico-ham{
    width: 22px;
    height: 17px;
}
.header-group .ico-search{
    width: 17px;
    height: 18px;
}
.header-group .logo{
    width: 87px;
    height: 23px;
}
.header-group .ico-cart{
    width: 19px;
    height: 18px;
}
.header-group .ico-myPage{
    width: 18px;
    height: 18px;
}

.hideTab-group {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background: #fff;
    transition: .3s;
}
.hideTab-group.hide {
    transform: translateY(-100%);
}
.hideTab-group .header-group{
    position: unset;
}
.hideTab-group .btm-area{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.hideTab-group .btm-area.hide{
    display: none;
    transition: .3s;
}
.hideTab-group .left-wrap{
    display: flex;
    align-items: center;
    gap: 18px;
}
.hideTab-group .active{
    color: #ee5728;
}
.hideTab-group .new-dot{
    position: relative;
}
.hideTab-group .new-dot::after{
    position: absolute;
    margin: 0 3px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #ee5728;
    content: '';
}
.hideTab-group .right-wrap {
    font-size: 20px;
    color: #999;
    background: #fff;
    position: relative;
}
.hideTab-group .right-wrap::after{
    content: '';
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 1;
    width: 26px;
    height: 100%;
    background: linear-gradient(90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}
/* 
.hideTab-group .btm-area2{
}
*/
.hideTab-group .btm-area2 .tit-wrap.show{
    display: flex;
} 
.hideTab-group .btm-area2 .tit-wrap{
    display: flex;
    justify-content: space-between;
    padding: 13px 10px;
    height: 50px;
    display: none;

}
.btm-area2 .tit-wrap h4{
    font-size: 16px;
}
.btm-area2 .tit-wrap i{
    font-size: 20px;
    color: #999;
    transform: rotate(180deg);
}

.hideTab-group .allMenu-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: #f6f6f6;
    border-top: 1px solid #dcdcdc;
    padding: 6px 12px;
}

.hideTab-group .allMenu-wrap  li{
    background: #fff;
    padding: 8px 17px;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    font-size: 14px;
}

.aside-group {
    position: fixed;
    left: 0;
    width: 90%;
    height: 100%;
    top: 0px;
    background: #fff;
    z-index: 999; 
    overflow-y: scroll;/*스크립트 하고 없애기 */
}

.aside-group {}
.aside-group .asideTop-area{
    border-bottom: 1px solid #ddd;
    padding:32px 15px 14px;
}
.aside-group .asideTop-area .member-wrap{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.aside-group .member-wrap a{
    padding: 10px 26px;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.aside-group .member-wrap .login{
    background: #000;
    color: #fff;
    border: none;
}
.aside-group .asideTop-area p{
    font-size: 13px;
    color: #777;
    margin-top: 15px;
}
.aside-group .asideTop-area strong{
    font-weight: bold;
}

.aside-group .asideContents-area{}
.aside-group .asideContents-area .category-list{}
.aside-group .category-list .category-item{}

.aside-group .asideContents-area .category-event{}
.aside-group .category-event .category-item{}
.category-event .category-item .item-box{}
.category-event .category-item .text-wrap{}
.category-event .text-wrap strong{}
.category-event .text-wrap p{}
.category-event .category-item .link-all{}

.aside-group .asidebtn-area{}
.aside-group .asidebtn-area .link-story{}
.aside-group .asidebtn-area .link-store{}