@import './reset.css';
@import './common.css';

/* 페이지가 변해도 따라오는것[헤더,푸터,큰틀] */

header{
    position: relative;
}
.topAd-group .topAd-area{
    background: #000;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.topAd-group .topAd-area i {
    font-weight: bold;
    font-size: 17px;
    margin-left: 7px;
}
.topAd-group .topAd-area strong{
    font-weight: bold;
}

.topAd-group .topAd-area img{
    width: 18px;
    height: 18px;
    margin-left: 7px;
}

.header-group{
    position: absolute;
    left: 0;
    top: 35px;
    height: 55px;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.header-group .menu-area{
    display: flex;
    gap: 15px;
    align-items: center;
}
.header-group .my-area{
    display: flex;
    gap: 15px;
}
.header-group .ico-ham{
    width: 22px;
    height: 17px;
}
.header-group .ico-search{
    width: 17px;
    height: 18px;
}
.header-group .logo{
    width: 87px;
    height: 23px;
}
.header-group .ico-cart{
    width: 19px;
    height: 18px;
    position: relative;
}
.header-group .ico-cart::after{
    position: absolute;
    right: -10px;
    top: -5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
    text-align: center;
    content: '0';
}
.header-group .ico-myPage{
    width: 18px;
    height: 18px;
}

.hideTab-group {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    background: #fff;
    transition: .3s;
}
.hideTab-group.hide {
    transform: translateY(-100%);
}
.hideTab-group .header-group{
    position: unset;
}
.hideTab-group .btm-area{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.hideTab-group .btm-area.hide{
    display: none;
    transition: .3s;
}
.hideTab-group .left-wrap{
    display: flex;
    align-items: center;
    gap: 18px;
}
.hideTab-group .active{
    color: #ee5728;
}

.hideTab-group .right-wrap {
    font-size: 20px;
    color: #999;
    background: #fff;
    position: relative;
}
.hideTab-group .right-wrap::after{
    content: '';
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 1;
    width: 26px;
    height: 100%;
    background: linear-gradient(90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}
/* 
.hideTab-group .btm-area2{
}
*/
.hideTab-group .btm-area2 .tit-wrap.show{
    display: flex;
} 
.hideTab-group .btm-area2 .tit-wrap{
    display: flex;
    justify-content: space-between;
    padding: 13px 10px;
    height: 50px;
    display: none;

}
.btm-area2 .tit-wrap h4{
    font-size: 16px;
}
.btm-area2 .tit-wrap i{
    font-size: 20px;
    color: #999;
    transform: rotate(180deg);
}

.hideTab-group .allMenu-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: #f6f6f6;
    border-top: 1px solid #dcdcdc;
    padding: 6px 12px;
}

.hideTab-group .allMenu-wrap  li{
    background: #fff;
    padding: 8px 17px;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    font-size: 14px;
}

.aside-group {
    position: fixed;
    left: 0;
    width: 90%;
    height: 100%;
    top: 0px;
    background: #fff;
    z-index: 5; 
    overflow-y: scroll;/*스크립트 하고 없애기 */
    padding-bottom: 30px;
    transform: translateX(-100%);
    transition: .3s;
}

.aside-group.on{
    transform: translateX(0);
    
}

.aside-group .asideTop-area{
    border-bottom: 1px solid #ddd;
    padding:32px 15px 14px;
}
.aside-group .asideTop-area .member-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aside-group .member-wrap .close{
    font-size: 30px;
    color: #ccc;
    font-weight: 100;
}
.aside-group .asideTop-area .member-box{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.aside-group .member-box a{
    padding: 10px 26px;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.aside-group .member-box .login{
    background: #000;
    color: #fff;
    border: none;
}
.aside-group .asideTop-area p{
    font-size: 13px;
    color: #777;
    margin-top: 15px;
}
.aside-group .asideTop-area strong{
    font-weight: bold;
}

.aside-group .asideContents-area{
    padding: 0 16px;
}
.aside-group .asideContents-area .category-list{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.aside-group .category-list .category-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
}

.aside-group .category-item .nav-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    padding: 15px 0;
}

.aside-group .category-item .nav-box::after{
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    content: '';
}
.aside-group .category-item .nav-box.none::after{
    border: none;
}
.aside-group .category-item .nav-box.on::after{
    transform: rotate(-135deg);
}

.aside-group .item-sub {
    display: none;
    width: 100%;
    margin-bottom: 15px;
}

.aside-group .item-sub a{
    color: #888;
    font-size: 15px;
    padding: 11px 0;
    display: block;
    line-height: 14px;
}
.aside-group .asideContents-area .category-event{
    padding: 20px 0;
}
.aside-group .category-event h3{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
}
.aside-group .category-event .category-item+.category-item{
    margin-top: 30px;
}

.category-event .category-item .item-box{}
.category-event .category-item > div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 12px;
}
.category-event .category-item .text-wrap{}
.category-event .text-wrap strong{
    font-size: 15px;
    color: #222;
    font-weight: bold;
    display: block;
}
.category-event .text-wrap p{
    font-size: 13px;
    color: #777;
    margin-top: 6px;
}
.category-event .category-item .link-all{
    color: #777;
    font-size: 14px;
}

.aside-group .asidebtm-area{
    display: flex;

}
.aside-group .asidebtm-area a{
    width: 50%;
    font-size: 14px;
    color: #777;
    background: #f2f2f2;
    display: block;
    padding: 14px 0;
    text-align: center;
    position: relative;
}
.aside-group .asidebtm-area .link-store::before{
    position: absolute;
    left: 0;
    width: 1px;
    height: 50%;
    background: #ccc;    
    content: '';
}


.search-more {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/search-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.search-more.on {
    display: flex;
}
.search-more .prev {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    font-size: 30px;
}
.search-more .search-box {
    width: 100%;
    display: flex;
    padding: 0 50px;
}
.search-more .search-box input{
    width: 100%;
    border: none;
    background: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    padding: 10px 20px 10px 0;
    font-size: 20px;
}
.search-more .search-box input:focus{
    outline: 0;
}
.search-more .search-box input::placeholder{
    color: #fff;
}
.search-more .search-box .search{
    color: #fff;
    font-size: 20px;
    position: relative;
    top: 10px;
    right: 20px;
}