.section-group.group1 {}

.section-group.group1 .swiper-slide {
  height: 85vh;
}

.section-group.group1 .text-area {
  position: absolute;
  left: 8%;
  bottom: 15%;
  color: #fff;
}

.section-group.group1 .text-area h2 {
  line-height: 1.3;
  font-size: 28px;
  font-weight: bold;
}

.section-group.group1 .text-area p {
  font-size: 17px;
  margin-top: 15px;
  line-height: 1.5;
}

.mySwiper2 .swiper-pagination .swiper-pagination-bullet {
  margin: 0 !important;
  background: #fff;
  border-radius: 0;
  width: 20px;
  height: 2px;
  opacity: 0.3;
}

.mySwiper2 .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}


.section-group.group2 .best-area h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 50px 0 16px;
  text-align: center;
}

.section-group.group2 .best-area .bestTab-wrap {
  overflow-x: scroll;
  width: 100%;
  padding: 0 16px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.section-group.group2 .bestTab-wrap li {
  color: #777;
  font-size: 15px;
  font-weight: 500;
}

.section-group.group2 .bestTab-wrap li.on {
  color: #fff;
  background: #b75622;
  padding: 10px;
  border-radius: 30px;
}

.section-group .prod-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 10px;
}

.section-group .prod-wrap .prod-box {}

.section-group .prod-box .link-pord {}

.section-group .link-prod .img-box {
  position: relative;
}

.section-group .img-box .rank {
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #000;
  font-weight: 400;
}

.section-group .img-box .new {
  width: 37px;
  height: 24px;
  position: absolute;
  left: 25px;
  top: 0;
}

.section-group .link-prod .text-box {
  padding: 15px 5% 0;
}

.section-group .text-box .review {
  color: #8e1f29;
  font-size: 13px;
  font-weight: bolder;
}

.section-group .text-box .review span {
  font-weight: 400;
}

.section-group .text-box h3 {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.05em;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
}

.section-group .text-box .discount {}

.section-group .discount strong {
  color: #8e1f29;
  font-weight: bold;
  /* margin-right: 5px; */
}

.section-group .discount .cost {
  font-weight: bold;
  color: #333;
  font-size: 15px;
}

.section-group .discount .cost-price {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: #8d8d8d;
  position: relative;
}

.section-group .discount .cost-price::after {
  width: 100%;
  height: 1px;
  background: #8d8d8d;
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
}

.section-group .char {
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #633136;
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
  color: #8e1f28;
}

.section-group .more-wrap {
  margin: 50px 20px;
}

.section-group .more-wrap .link-fullView {
  padding: 16px 0;
  border: 1px solid #C8CBD2;
  border-radius: 4px;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  display: block;
  text-align: center;
  font-weight: bold;
}

.section-group .link-fullView span {
  color: #c86733;
}

.section-group .link-fullView i {
  color: #ccc;
  margin-left: 5px;
  font-weight: 500;
}


.section-group.group3 .adImg-area img {
  width: 100%;
}

.section-group.group4 {
  margin: 20px 0 40px;
}

.section-group.group4 .topProd-wrap .text-box2 {
  padding: 20px 16px 20px;
}

.section-group.group4 .text-box2 h3 {
  font-size: 26px;
  color: #333;
  font-weight: 700;
  line-height: 1.3;
}

.section-group.group4 .text-box2 p {
  font-size: 16px;
  color: #333;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 14px;
}

.section-group.group4 .text-box2 .link-more {
  margin: 25px 0 30px;
  display: flex;
  width: 110px;
  justify-content: space-between;
  border-radius: 2px;
  border: 1px solid #1e1e1e;
  background: #1e1e1e;
  padding: 10px 18px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.section-group.group4 .link-more i {
  opacity: .5;

}

.section-group.group4 .prod-wrap {
  display: block;
}

.section-group.group4 .prod-box {
  margin: 0 16px;
}

.section-group.group4 .prod-box+.prod-box {
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-top: 20px;
}

.section-group.group4 .link-prod {
  display: grid;
  grid-template-columns: 110px auto;
}

.section-group.group4 .link-prod .text-box {
  padding-top: 0;
}

.section-group.group5 .img-box .new,
.section-group.group7 .img-box .new {
  left: 0;
}

.section-group.group6 {
  padding: 56px 20px;
  background-color: #C86733;
}

.section-group.group6 a {
  color: #fff;
}

.section-group.group6 span {
  color: #fff;
  font-size: 18px;
  margin: 0 auto 10px;
  font-weight: 400;
  display: inline-block;
  border-bottom: 1.5px solid #fff;
  padding-bottom: 5px;
  line-height: 1.2;
}

.section-group.group6 h3 {
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  font-weight: 700;
}

.section-group.group6 p {
  padding: 10px 0 5px;
  font-size: 12px;
  line-height: 1.4;
  color: #fff;
  font-weight: 400;
}

.section-group.group6 div {
  display: inline-block;
  width: 100px;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}

.section-group.group7 {
  margin-left: 20px;
}

.section-group.group7 .prod-wrap {
  display: flex;
}

.section-group.group7 .prod-wrap .prod-box {
  width: 42%;
}

.section-group.group7 .tit-wrap {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 30px 0;
  color: #333;
}

.section-group.group7 .tit-wrap h2 {
  font-size: 20px;
  font-weight: 600;
}

.section-group.group7 .tit-wrap a {
  font-size: 14px;
  font-weight: 500;
}

.section-group.group7 .tit-wrap i {
  color: #999;
}

.section-group.group8 {
  margin-top: 70px;
}

.section-group.group8 .membership-area {
  background: url(../img/membership-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -15px;
  height: 280px;
  display: flex;
  align-items: center;
}

.section-group.group8 a {
  color: #fff;
  padding: 0 20px;
}

.section-group.group8 h3 {
  font-size: 26px;
  font-weight: 700;
}

.section-group.group8 p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 15px 0;
}

.section-group.group8 div {
  border: 1px solid #fff;
  padding: 8px 20px;
  display: inline-block;
}

.section-group.group8 .store-area {
  margin-top: 10px;
  background: url(../img/store-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -15px;
  height: 330px;
  display: flex;
  align-items: center;
}

.section-group.group8 .store-area a {
  flex-shrink: 1;
}
/* main end  */